@model FrontEnd.Models.AgregarProductoViewModels
@{
    ViewBag.Title = "Agregar";
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Agregar productos</h3>
        @Html.ActionLink("Volver", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="box-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form id="__AjaxAntiForgeryForm" action="#" method="post"> @Html.AntiForgeryToken()</form>
        <div class="form-group">
            @Html.LabelFor(producto => producto.Nombre)
            @Html.TextBoxFor(producto => producto.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.Nombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(producto => producto.Precio)
            @Html.TextBoxFor(producto => producto.Precio, new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.Precio, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(producto => producto.Descripcion)
            @Html.TextAreaFor(producto => producto.Descripcion, new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.Descripcion, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(producto => producto.Modelo)
            @Html.TextBoxFor(producto => producto.Modelo, new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.Modelo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(producto => producto.cantidad)
            @Html.TextBoxFor(producto => producto.cantidad, new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.cantidad, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(producto => producto.id_distribuidor)
            @Html.DropDownListFor(producto => producto.id_distribuidor, new SelectList(Model.lista_distribuidores, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.id_distribuidor, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(producto => producto.id_marca)
            @Html.DropDownListFor(producto => producto.id_marca, new SelectList(Model.lista_marcas, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.id_marca, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(producto => producto.id_categoria)
            @Html.DropDownListFor(producto => producto.id_categoria, new SelectList(Model.lista_categorias, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.id_categoria, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(producto => producto.id_coleccion)
            @Html.DropDownListFor(producto => producto.id_coleccion, new SelectList(Model.lista_colecciones, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(producto => producto.id_coleccion, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.ActionLink("Volver", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            <button type="submit" class="btn btn-primary" id="Guardar" onclick="guardar()">Guardar</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function guardar() {
            var saveUrl = '@Url.Action("Create", "ProductosAdmin")';
            var newUrl = '@Url.Action("Index", "ProductosAdmin")';
            $.ajax({
                type: 'POST',
                url: saveUrl,
                data: {
                    __RequestVerificationToken: $('[name = "__RequestVerificationToken"]').val(),
                    Nombre: $("#Nombre").val(),
                    Precio: $("#Precio").val(),
                    Descripcion: $("#Descripcion").val(),
                    Modelo: $("#Modelo").val(),
                    cantidad: $("#cantidad").val(),
                    id_distribuidor: $("#id_distribuidor").val(),
                    id_marca: $("#id_marca").val(),
                    id_categoria: $("#id_categoria").val(),
                    id_coleccion: $("#id_coleccion").val(),
                },
                statusCode: {
                    200: function () {
                        Swal.fire(
                            'Producto agregado!',
                            'El producto ha sido agregado exitosamente!',
                            'success'
                        )
                        setTimeout(function () {
                            window.location.href = newUrl;
                        }, 3000);
                        
                    },
                    400: function () {
                        Swal.fire(
                            'Error!',
                            'Bad request',
                            'error'
                        )
                        setTimeout(function () {
                            location.reload();
                        }, 3000);

                    },
                    404: function () {
                        Swal.fire(
                            'Error!',
                            'Pagina no encontrada',
                            'error'
                        )
                        setTimeout(function () {
                            location.reload();
                        }, 3000);
                    },
                    500: function () {
                        Swal.fire(
                            'Error!',
                            'Lo sentimos, hubo un error. Por favor intentelo de nuevo mas tarde',
                            'error'
                        )
                        setTimeout(function () {
                            location.reload();
                        }, 3000);
                    }
                }

            });
        }
    </script>
}

