@model FrontEnd.Models.EditarProductoViewModels
@{
    /**/
    ViewBag.Title = "Editar";
}

<h2>Editando @Model.Nombre</h2>
<div class="container">
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(producto => producto.Id_Producto, new { id = "Id_Producto" })
            <div class="form-group">
                @Html.LabelFor(producto => producto.Nombre)
                @Html.TextBoxFor(producto => producto.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(producto => producto.Precio)
                @Html.TextBoxFor(producto => producto.Precio, new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.Precio, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(producto => producto.Descripcion)
                @Html.TextAreaFor(producto => producto.Descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.Descripcion, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(producto => producto.Modelo)
                @Html.TextBoxFor(producto => producto.Modelo, new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.Modelo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(producto => producto.cantidad)
                @Html.TextBoxFor(producto => producto.cantidad, new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.cantidad, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(producto => producto.id_distribuidor_seleccionado)
                @Html.DropDownListFor(producto => producto.id_distribuidor_seleccionado, new SelectList(Model.lista_distribuidores, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.id_distribuidor_seleccionado, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(producto => producto.id_marca_seleccionada)
                @Html.DropDownListFor(producto => producto.id_marca_seleccionada, new SelectList(Model.lista_marcas, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.id_marca_seleccionada, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(producto => producto.id_categoria_seleccionada)
                @Html.DropDownListFor(producto => producto.id_categoria_seleccionada, new SelectList(Model.lista_categorias, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.id_categoria_seleccionada, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(producto => producto.id_coleccion_seleccionada)
                @Html.DropDownListFor(producto => producto.id_coleccion_seleccionada, new SelectList(Model.lista_colecciones, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(producto => producto.id_coleccion_seleccionada, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.ActionLink("Volver", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                <input type="submit" class="pull-right btn btn-primary" value="Editar" />
            </div>
        </div>
    }
</div>

<br /> <br />