@model IEnumerable<FrontEnd.Models.IndexProductoViewModels>

@{

    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header">
                <h2 class="box-title">Productos</h2>
                @Html.ActionLink("Agregar nuevo producto", "Create", null, new { @class = "btn btn-success pull-right" })
            </div>

            <div class="box-body table-responsive">
                <table id="productosTabla" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id_Producto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Modelo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.marca)
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            foreach (var producto in Model)
                            {
                                <tr>
                                    <td>@producto.Id_Producto</td>
                                    <td>@producto.Nombre</td>
                                    <td>@producto.Precio</td>
                                    <td>@producto.Modelo</td>
                                    <td>@producto.cantidad</td>
                                    <td>@producto.marca</td>
                                    <td>
                                        @Html.ActionLink("Detalles", "Detalles", "ProductosAdmin", new { id = producto.Id_Producto }, null) |
                                        @Html.ActionLink("Editar", "Editar", "ProductosAdmin", new { id = producto.Id_Producto }, null) |
                                        <button type="button" class="btn-link" onclick="eliminar(@producto.Id_Producto)">Eliminar</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>

        $(document).ready(function () {
            $("#productosTabla").DataTable({    
                responsive: true,
                "destroy": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });

        function eliminar(id_producto) {
            Swal.fire({
                title: 'Seguro que desea eliminar este producto?',
                text: "Esta accion no se puede revertir!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Eliminar'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: `ProductosAdmin/Delete/${id_producto}`,
                        data: {
                            id_producto: id_producto
                        },
                        statusCode: {
                            200: function () {
                                Swal.fire(
                                    'Exito!',
                                    'Producto eliminado',
                                    'success'
                                ).then(function () {
                                    location.reload();
                                });
                            },
                            400: function () {
                                Swal.fire(
                                    'Error!',
                                    'Bad request',
                                    'error'
                                ).then(function () {
                                    location.reload();
                                });
                            },
                            404: function () {
                                Swal.fire(
                                    'Error!',
                                    'Pagina no encontrada',
                                    'error'
                                ).then(function () {
                                    location.reload();
                                });
                            },
                            500: function () {
                                Swal.fire(
                                    'Error!',
                                    'Lo sentimos, hubo un error. Por favor intentelo de nuevo mas tarde',
                                    'error'
                                ).then(function () {
                                    location.reload();
                                });
                            }
                        }

                    });
                }
            })
        }

    </script>
}

