@model FrontEnd.Models.EditarCarritoViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>
<div class="form-horizontal">
    <h4>Cambiar cantidad</h4>
    <hr />
    <form id="__AjaxAntiForgeryForm" action="#" method="post"> @Html.AntiForgeryToken()</form>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_Producto)

    <div class="form-group">
        @Html.LabelFor(m => m.cantidad)
        @Html.EditorFor(m => m.cantidad, new { htmlAttributes = new { @class = "form-control", min = 1, max = 5, @style = "color: white;" } })
        @Html.ValidationMessageFor(m => m.cantidad, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm" id="Guardar" onclick="guardar()">Guardar</button>
        @Html.ActionLink("Volver", "Index", "Carrito", htmlAttributes: new { @class = "btn btn-primary btn-sm" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function guardar() {
            var saveUrl = '@Url.Action("Editar", "Carrito")';
            var carritoUrl = '@Url.Action("Index", "Carrito")';
            var indexUrl = '@Url.Action("Index", "Home")';
            var Id_Producto = $("#Id_Producto").val();
            var cantidad_producto = $("#cantidad").val();
            $.ajax({
                type: 'POST',
                url: saveUrl,
                data: {
                    __RequestVerificationToken: $('[name = "__RequestVerificationToken"]').val(),
                    Id_Producto: Id_Producto,
                    cantidad_producto: cantidad_producto,
                },
                statusCode: {
                    200: function () {
                        Swal.fire({
                            title: 'Editado!',
                            text: "El producto ha sido editado con exito!",
                            type: 'success',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'Seguir comprando',
                            cancelButtonText: 'Ir al carrito'
                        }).then((result) => {
                            if (result.value) {
                                window.location.href = indexUrl;
                            }
                            else {
                                window.location.href = carritoUrl;
                            }
                        })
                    },
                    404: function () {
                        Swal.fire(
                            'Error!',
                            'Pagina no encontrada',
                            'error'
                        ).then(function () {
                            location.reload();
                        });
                    },
                    500: function () {
                        Swal.fire(
                            'Error!',
                            'Lo sentimos, hubo un error. Por favor intentelo de nuevo mas tarde',
                            'error'
                        ).then(function () {
                            window.location.href = saveUrl;
                        });
                    }
                }
            });
        }
    </script>
}
