<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Proyecto Final Programacion V</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu" aria-controls="Menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Menu">
                <div class="navbar-nav">
                    @{
                        @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link active" })
                        @Html.ActionLink("Nosotros", "About", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                        @Html.ActionLink("Contactenos", "Contact", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                        @Html.ActionLink("Carrito", "Index", "Carrito", new { area = "" }, new { @class = "nav-item nav-link" })
                    }

                </div>
                @{Html.RenderAction("Navbar", "Layout");}
            </div>
        </nav>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Programacion Web Avanzada - I CUA 2019</p>
            </footer>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/popper")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
