@model IEnumerable<FrontEnd.Models.Admin.CategoriasAdminViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

@Session["mensaje"]
<div class="btn-group">
    @Html.ActionLink("Agregar Nueva Categoria", "Create", null, new { @class = "btn btn-block btn-success" })
    <br><br><br>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header">
                <h2 class="box-title">Categorias</h2>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 250px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.descripcion)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.descripcion)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.id_categoria }, new { @class = "btn btn-default btn-warning" })
                                    @Html.ActionLink("Ver Detalles", "Details", new { id = item.id_categoria }, new { @class = "btn btn-default btn-info " })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id_categoria }, new { @class = "btn btn-default  btn-danger" })

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
