@model FrontEnd.Models.FacturacionProductosViewModels

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Agregar Producto en la factura</h3>
    </div>
    <div class="box-body">



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form id="__AjaxAntiForgeryForm" action="#" method="post"> @Html.AntiForgeryToken()</form>
        @Html.HiddenFor(facturacionProducto => facturacionProducto.facturacionId, new { id = "facturacionId" })
        <div class="form-group">
            @Html.LabelFor(model => model.productoId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.productoId, new SelectList(Model.lista_productos, "Value", "Text"), "--Seleccionar Facturacion--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.productoId, "", new { @class = "text-danger" })
         
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
        </div>


    </div>

    <div class="box-footer">
        @Html.ActionLink("Regresar", "Index", "FacturacionAdmin")
        <button type="submit" class="btn btn-primary pull-right" id="Guardar" onclick="guardar()">Crear</button>
    </div>

</div>


@section Scripts
{
<script>
        function guardar() {
            var saveUrl = '@Url.Action("Create", "FacturacionProductosAdmin", routeValues: new { id = @Model.facturacionId })';;
            var newUrl = '@Url.Action("Index"   , "FacturacionProductosAdmin", routeValues: new { id = @Model.facturacionId })';
            $.ajax({
                type: 'POST',
                url: saveUrl,
                data: {
                    __RequestVerificationToken: $('[name = "__RequestVerificationToken"]').val(),
                    facturacionId: $("#facturacionId").val(),
                    cantidad: $("#cantidad").val(),
                    productoId: $("#productoId").val(),

                },
                statusCode: {
                    200: function () {
                        Swal.fire(
                            'Producto agregado a la factura!',
                            'El producto ha sido agregado exitosamente!',
                            'success'
                        ).then(function () {
                            window.location.href = newUrl;
                        });
                    },
                    400: function () {
                        Swal.fire(
                            'Error!',
                            'Bad request',
                            'error'
                        ).then(function () {
                            location.reload();
                        });
                    },
                    404: function () {
                        Swal.fire(
                            'Error!',
                            'Pagina no encontrada',
                            'error'
                        ).then(function () {
                            location.reload();
                        });
                    },
                    500: function () {
                        Swal.fire(
                            'Error!',
                            'Lo sentimos, hubo un error. Por favor intentelo de nuevo mas tarde',
                            'error'
                        ).then(function () {
                            location.reload();
                        });
                    }
                }

            });
        }
</script>
}